<template>
 <div>
  <chat-window
   height="calc(100vh - 20px)"
   :current-user-id="currentUserId"
   :rooms="rooms"
   :rooms-loaded="true"
   :messages="messages"
   :messages-loaded="messagesLoaded"
   @send-message="sendMessage"
   @fetch-messages="fetchMessages"
   :room-id="2"
   @edit-message="editMessage"
   :text-messages="text_messages"
   :room-actions="room_actions"
   :menu-actions="menu_actions"
   :message-actions="message_actions"
   @room-action-handler="roomActionHandler"
   @menu-action-handler="menuActionHandler"
   @message-action-handler="messageActionHandler"
   @send-message-reaction="sendMessageReaction"
   @room-info="roomInfo"
   @toggle-rooms-list="toggleRoomsList"
   @textarea-action-handler="textareaActionHandler"
  >
<!--  <template v-slot:room-header="{ room, userStatus }">-->
<!--   {{ room.roomName }} - {{ userStatus }}111111111111-->
<!--  </template>-->
<!--   <template v-slot:custom-action-icon>-->
<!--    jkj-->
<!--   </template>-->
  </chat-window>
 </div>
</template>

<script>
import ChatWindow from 'vue-advanced-chat'
import 'vue-advanced-chat/dist/vue-advanced-chat.css'
// import ChatWindow from '../../vue-advanced-chat/src/ChatWindow'

export default {
 name: 'Chat',

 components: {
  ChatWindow
 },

 data() {
  return {
   currentUserId: 1234,
   rooms: [
    {
     roomId: 1,
     roomName: 'مربی علی حاتمی',
     avatar: 'https://66.media.tumblr.com/avatar_c6a8eae4303e_512.pnj',
     users: [
      {_id: 1234, username: 'فرهاد روحانی مقدس'},
      {_id: 4321, username: 'علی حاتمی'}
     ]
    },
    {
     roomId: 2,
     roomName: 'مربی حاجتمند',
     avatar: 'https://66.media.tumblr.com/avatar_c6a8eae4303e_512.pnj',
     users: [
      {_id: 12, username: 'جواد'},
      {_id: 14, username: 'رضا حاجتمند'}
     ]
    },
    {
     roomId: 3,
     roomName: 'Room 1',
     avatar: 'assets/imgs/people.png',
     unreadCount: 4,
     index: 3,
     lastMessage: {
      content: 'Last message received',
      senderId: 1234,
      username: 'John Doe',
      timestamp: '10:20',
      saved: true,
      distributed: false,
      seen: false,
      new: true
     },
     users: [
      {
       _id: 1234,
       username: 'John Doe',
       avatar: 'assets/imgs/doe.png',
       status: {
        state: 'online',
        lastChanged: 'today, 14:30'
       }
      },
      {
       _id: 4321,
       username: 'John Snow',
       avatar: 'assets/imgs/snow.png',
       status: {
        state: 'offline',
        lastChanged: '14 July, 20:00'
       }
      }
     ],
     typingUsers: [ 4321 ]
    }
   ],
   messages: [],
   messagesLoaded: false,
   text_messages: {
    ROOMS_EMPTY: 'بدون مکالمه',
    ROOM_EMPTY: 'هیچ مکالمه ای انتخاب نشده است',
    NEW_MESSAGES: 'ارسال جدید',
    MESSAGE_DELETED: 'این پیام حذف شده است',
    MESSAGES_EMPTY: 'بدون پیغام',
    CONVERSATION_STARTED: 'گفتگو آغاز شده در:',
    TYPE_MESSAGE: 'پیام خود را تایپ کنید',
    SEARCH: 'جستجو کردن',
    IS_ONLINE: 'برخط است',
    LAST_SEEN: 'آخرین اتصال',
    IS_TYPING: 'در حال تایپ کردن ...'
   },
   room_actions: [
    {
     name: 'archiveRoom',
     title: 'Archive Room'
    }
   ],
   menu_actions: [
    {
     name: 'inviteUser',
     title: 'Invite User'
    },
    {
     name: 'removeUser',
     title: 'Remove User'
    },
    {
     name: 'deleteRoom',
     title: 'Delete Room'
    }
   ],
   message_actions: [
    {
     name: 'replyMessage',
     title: 'Reply'
    },
    {
     name: 'editMessage',
     title: 'Edit Message',
     // onlyMe: true
    },
    {
     name: 'deleteMessage',
     title: 'Delete Message',
     // onlyMe: true
    },
    {
     name: 'aaaa',
     title: 'aaaa',
     // onlyMe: true
    },
    {
     name: 'shareMessage',
     title: 'اشتراک گزاری',
     // onlyMe: true
    }
   ],

  }
 },

 methods: {
  fetchMessages({options = {}}) {
   setTimeout(() => {
    if (options.reset) {
     this.messages = this.addMessages(true)
    } else {
     this.messages = [...this.addMessages(), ...this.messages]
     this.messagesLoaded = true
    }
    // this.addNewMessage()
   })
  },

  addMessages(reset) {
   const messages = []

   for (let i = 0; i < 5; i++) {
    messages.push({
     _id: reset ? i : this.messages.length + i,
     content: `${reset ? '' : 'paginated'} message ${i + 1}`,
     senderId: 4321,
     username: 'John Doe',
     date: '13 November',
     timestamp: '10:20'
    })
   }
   for (let i = 10; i < 15; i++) {
    messages.push({
     _id: reset ? i : this.messages.length + i,
     content: `${reset ? '' : 'paginated'} message ${i + 1}`,
     senderId: 4321,
     username: 'John Doe',
     date: '10 August',
     timestamp: '10:20'
    })
   }
   messages.push({
     _id: 7890,
     content: 'message 1',
     senderId: 1234,
     username: 'John Doe',
     avatar: 'assets/imgs/doe.png',
     date: '13 November',
     timestamp: '10:20',
     system: false,
     saved: true,
     distributed: true,
     seen: true,
     disableActions: false,
     disableReactions: false,
     file: {
      name: 'My File',
      size: 67351,
      type: 'png',
      audio: true,
      duration: 14.4,
      url: 'https://www.google.com/search?q=saaf&rlz=1C1GCEA_enIR897GB897&sxsrf=ALeKk03yhPC5gsmpJXbKybizXxQGEomqyg:1618308105104&tbm=isch&source=iu&ictx=1&fir=qSrV8sJjIzWcjM%252Chg5r_dwn-vjKLM%252C%252Fm%252F02flb5&vet=1&usg=AI4_-kRFyOENd5UloQxCczb9xbjaJj5NdA&sa=X&ved=2ahUKEwi2i_e9-_rvAhXKGewKHdWTCJYQ_B16BAgkEAE#imgrc=qSrV8sJjIzWcjM',
      preview: 'data:image/png;base64,iVBORw0KGgoAA...'
     },
     reactions: {
      wink: [
       1234, // USER_ID
       4321
      ],
      laughing: [
       1234
      ]
     }
    }
   )
   return messages
  },

  sendMessage(message) {
   console.log(message)
   this.messages = [
    ...this.messages,
    {
     _id: this.messages.length+100,
     content: message.content,
     senderId: this.currentUserId,
     timestamp: new Date().toString().substring(16, 21),
     date: new Date().toDateString()
    }
   ]
  },

  addNewMessage() {
   setTimeout(() => {
    this.messages = [
     ...this.messages,
     {
      _id: this.messages.length,
      content: 'NEW MESSAGE',
      senderId: 4321,
      timestamp: new Date().toString().substring(16, 21),
      date: new Date().toDateString()
     }
    ]
   }, 2000)
  },

  editMessage(e) {
   console.log(e)
  },

  roomActionHandler(e) {
   console.log(e)
  },

  menuActionHandler({roomId, action}) {
   switch (action.name) {
    case 'inviteUser':
     // call a method to invite a user to the room
     console.log(roomId, 'inviteUser')
     break;
    case 'removeUser':
     console.log(roomId, 'removeUser')
     // call a method to remove a user from the room
     break;
    case 'deleteRoom':
     console.log(roomId, 'deleteRoom')
    // call a method to delete the room
   }
  },


  messageActionHandler({roomId, action, message}) {
   switch (action.name) {
    case 'addMessageToFavorite':
     // call a method to add a message to the favorite list
     console.log(roomId, message, 'addMessageToFavorite')
     break;
    case 'replyMessage':
     console.log(roomId, message, 'replyMessage')
    // call a method to share the message with another user
     break;
    case 'editMessage':
     console.log(roomId, message, 'editMessage')
    // call a method to share the message with another user
     break;
    case 'deleteMessage':
     console.log(roomId, message, 'deleteMessage')
    // call a method to share the message with another user
     break;
    case 'aaaa':
     console.log(roomId, message, 'aaaa')
    // call a method to share the message with another user
     break;
    case 'shareMessage':
     console.log(roomId, message, 'shareMessage')
    // call a method to share the message with another user
     break;
   }
  },

  sendMessageReaction({roomId, messageId, reaction, remove}) {
   console.log({roomId, messageId, reaction, remove})
  },

  roomInfo(room) {
   console.log(room)
  },

  toggleRoomsList({opened}) {
   console.log(opened)
  },

  textareaActionHandler({ roomId, message }) {
   console.log({ roomId, message })
  }
 }
}
</script>

<!--<style lang="scss">-->
<!--body {-->
<!-- font-family: 'Quicksand', sans-serif;-->
<!--}-->
<!--</style>-->
